<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Thanks for submitting your issue!</h1>
        <p class="lead">This message is here to give you a good feeling about using our product.</p>
    </div>
</div>